<h1>Topics:</h1>

<ul>
<% @documents.each do |document| %>
  <li><a href="/<%= document['file'].gsub('_','-') %>/"><%= document['title'] %></a></li>
<% end %>
</ul>

<%# Use harsh for syntax highlighting? %>